@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/* shared styles */
*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
}

.display-flex{
    display: flex;
}

.header, .curriculum, .stories-container{
    max-width: 1160px;
    margin: 0px auto;
}

.section-title{
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.general-bg-image{
    background-image: url(../images/bg.png); /* main section bg*/
}

.stories{
    background-image: linear-gradient(to top, rgba(254, 163, 1, 0.3), white);
}

.excp_curr{
    margin-top: 140px;
}

/* colors */
.orange{
    color: rgba(254, 163, 1, 1);
}
.sky-blue{
    color: rgba(1, 172, 253, 1);
}
.sky{
    color: rgba(5, 212, 223, 1);
}
.purple{
    color: rgba(93, 88, 239, 1);
}
.orange-bg{
    background-color: rgba(254, 163, 1, 1);
}
.read-skyblue{
    color: rgba(100, 200, 255, 1);
}
.read-orange{
    color: rgba(240, 170, 0, 1);
}
.read-purple{
    color: rgba(135, 0, 255, 1);
}

/* buttons styles */
.contact-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}

.enroll-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: black;
    padding: 10px 45px;
    border: none;
    border-radius: 12px;
}

.view-btn{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    background-color: black;
    margin-bottom: 60px;
}



/* HEADER styles */

/* nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.brand-info{
    align-items: center;
    gap: 10px;
}
.brand-logo{
    width: 100%;
}

.brand-title{
    font-size: 2rem;
    font-weight: 700;
}

.nav-links{
    font-size: 1.25rem;
    font-weight: 700;
    gap: 32px;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
}

.marquee{
    color: rgba(240, 170, 0, 1);
}
.marq1{
    color: rgba(100, 200, 255, 1);;
}



/* banner styles */
.banner{
    justify-content: space-between;
    align-items: center;
}

.banner-info{
    width: 55%;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-description{
    font-size: 1.25rem;
    margin: 24px 0;
}

.banner-image{
    width: 40%;
}



/* Main styles */

/* Curriculum section styles */

.card-container{
    margin: 80px 0;
    justify-content: space-between;
    /* gap: 28px; */
    flex: 1;
}

.card{
    /* width: 367px; */
    width: 32%;
    border-radius: 18px;
}

.card-image-container{
    margin: 52px 0 32px;
    text-align: center;
}

.card-image-container img{
    width: 136px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
    text-align: center;
}

.card-details{
    width: 286px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    margin: 33px auto;
}

.read-more{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 53px;
}

.kinder{
    border: 1px solid rgba(222, 245, 255, 1);
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), white);
}

.elementary{
    border: 1px solid rgba(255, 244, 220, 1);
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1), white);
}

.middle{
    border: 1px solid rgba(242, 232, 255, 1);
    background-image: linear-gradient(to bottom, rgba(238, 225, 255, 1), white);
}

.chevron{
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

.chevron-container{
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}



/* Stories section */

.story-collection{
    margin: 80px 0;
    justify-content: space-between;
}

.single-story{
    width: 540px;
    background-color: white;
    border-radius: 16px;
}

.story1-image{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.single-story-info-container{
    background-color: white;
    padding-left: 38px;
    padding-bottom: 34.5px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.date1-bg{
    background-color: rgba(60, 216, 232, 1);
}

.date1{
    width: 174px;
    padding: 14.5px 19px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: -30px;
}

.story-title{
    font-size: 1.5rem;
    font-weight: 700;
    width: 402px;
    margin-top: 33.5px;
    margin-bottom: 48px;
}

.story-details{
    width: 433px;
    font-size: .95rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    /* margin: 0 0 35px 38px; */
}

/* four-stories styles */
.story2345{
    width: 291px;
    background-color: white;
    /* margin-left: 37.5px;
    margin-bottom: 28px; */
    border-radius: 16px;
}

.story2345-image{
    width: 100%;
    /* width: 290px; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.story2345-info-container{
    /* background-color: white; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-left: 37.5px;
    margin-bottom: 28px
}

.date234{
    width: 174px;
    padding: 9.5px 18px;
    font-size: 0.93rem;
    font-weight: 500;
    border-radius: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: -25px;
}

.date5{
    width: 127px;
    padding: 9.5px 18px;
    font-size: 0.93rem;
    font-weight: 500;
    border-radius: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: -25px;
}

.date245-bg{
    background-color: rgba(149, 178, 38, 1);
}

.date3-bg{
    background-color: rgba(93, 88, 240, 1);
}

.story2345-title{
    /* width: 74%; */
    width: 214px;
    font-size: 0.94rem;
    font-weight: 700;
    margin-top: 19px;
}

.four-stories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.view-btn-container{
    text-align: center;
}



/* Footer styles */
.footer{
    padding: 103px 228px 175px 141px;
    background-color: rgba(1, 172, 253, 1);
    color: white;
}

.footer-info-container{
    width: 1070px;
    margin: 0 auto;
}

.conclusion-logo-n-title{
    width: 299px;
    margin-bottom: 35px;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.conclusion-logo{
    width: 100%;
}

.conclusion-title{
    width: 206px;
    font-size: 2.625rem;
    font-weight: 700;
}

.conclusion-description{
    width: 399px;
    font-size: 1.25rem;
}

.about{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer li {
    list-style: none;
}

.footer a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}

.footer ul{
    flex-direction: column;
    gap: 20px;
}

.contact{
    margin-bottom: 32px;
    font-size: 1.625rem;
    font-weight: 700;
}

.social-media-icons-container{
    justify-content: left;
    gap: 10px;
}

.footer-info-container{
    justify-content: space-between;
}






/* MEDIA Query  Responsive styles */

/* For small devices */
@media screen and (max-width: 576px){
    /* shared styles */
    .hide-s{
        display: none;
    }

    /* body{
        max-width: 100%;
    } */


/* header styles */

/* nav styles */
    .navbar{
        margin: 0;
        padding: 16px 16px;
        border: 0.5px solid rgba(254, 163, 1, 1);
    }

    .burger-icon-container{
        height: 30px;
        width: 30px;
    }

/* banner styles */
    .banner{
        flex-direction: column-reverse;
        padding: 20px 10px;
        margin: 8px 16px 0 16px;
        gap: 18px;
    }

    .banner-image{
        width: 87%;
    }

    .banner-info{
        /* width: 357px; */
        width: 91.5vw;
        text-align: center;
        margin-bottom: 20px;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-description{
        margin: 18px;
        font-size: 0.875rem;
        font-weight: 500;
    }

    /* main styles */

    /* curriculum */
    .curriculum{
        padding: 40px 16.5px 20px 16.5px;
    }

    .section-title{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .card{
        /* width: 92%; */
        width: 92vw;
    }

    .card > img{
        width: 26%;
    }

    .card-title{
        font-size: 16px;
    }

    .card-details{
        width: 55%;
        font-size: 10px;
    }

    .section-title{
        font-size: 1.625rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin: 0;
    }

    .read-more{
        font-size: 10px;
        margin: 22px 0 36px;
    }

    /* stories styles */
    .stories{
        margin-top: 40px;
    }

    .four-stories{
        grid-template-columns: repeat(2, 1fr);
        gap: 11px;
    }

    .story2345-image{
        width: 100%;
        height: auto;
        border-top-left-radius: 9.5px;
        border-top-right-radius: 9.5px;
    }

    .date234{
        /* here we have something understand */
        /* width: 26%; */
        width: 103px;
        font-size: 0.6rem;
        padding: 5.5px 11px 6px 11px;
        border-radius: 28.5px;
        top: -17px;
    }

    .date5{
        width: 75px;
        padding: 5.5px 11px 6px 11px;
        font-size: 0.56rem;
        border-radius: 28.5px;
        top: -17px;
    }

    .story2345{
        /* width: 173px; */
        border-radius: 9.5px;
        width: 45vw;
    }

    

    .story2345-info-container{
        padding-left: 22.5px;
        padding-bottom: 17px;
        margin: 0;
        border-bottom-left-radius: 9.5px;
        border-bottom-right-radius: 9.5px;
    }

    .story2345-title{
        font-size: 0.56rem;
        width: 127px;
        margin-top: 11px;
    }

    .story-collection{
        margin: 20px 16px;
    }

    .view-btn{
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 16px;
    }


    /* footer section */

    .footer{
        max-width: 390px;
        padding: 64px 12px 61px 21px;
    }

    .footer-info-container{
        width: 357px;
        flex-direction: column;
        gap: 32px;
    }

    .conclusion-logo-n-title{
        /* width: 250px; */
        width: 64vw;
        margin-bottom:22.5px;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    /* .conclusion-logo{
        width: 100%;
        height: auto;
    }

    .conclusion-title{
        width: 172px;
        font-size: 2.18rem;
    } */

    .conclusion-description{
        width: 355px;
        font-size: 1rem;
    }
    
    .about{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 27.5px;
    }
    
    .footer li {
        list-style: none;
    }
    
    .footer a{
        font-size: 1.06rem;
        font-weight: 500;
    }
    
    .footer ul{
        flex-direction: column;
        gap: 15px;
    }

    .contact{
        margin-bottom: 35px;
        font-size: 1.375rem;
        font-weight: 700;
    }
    
    .social-media-icons-container{
        justify-content: left;
        gap: 8.5px;
    }


}



/* for big devices */
@media screen and (min-width: 576px){
    .hide{
        display: none;
    }
}

